@media screen and (max-width: 375px) {
  .header, .main {
    row-gap: 200px;
  }

  .header {
    padding: 15px;
  }

  .header__top_row {
    padding: 0;
    position: relative;
  }

  .header__menu, .header__nav_menu-list, .header__contacts {
    flex-direction: column;
  }

  .header__menu {
    row-gap: 10%;
    padding: 20px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#0e0d0d, rgba(14, 13, 13, 0.8));
    top: 40px;
    position: absolute;
    align-items: center;
  }
  .header__menu .header__nav_menu {
    border: none;
  }
  .header__menu .header__nav_menu .header__nav_menu-list {
    padding: 20px;
    row-gap: 30px;
    text-align: center;
  }
  .header__menu .header__nav_menu .header__nav_menu-list > li > a {
    font-size: 30px;
  }
  .header__menu .header__nav_menu .header__nav_menu-list img {
    width: 30px;
    height: 30px;
  }
  .header__menu .header__contacts {
    text-align: center;
    row-gap: 20px;
  }
  .header__menu .header__contacts .header__contacts_phone {
    width: 100%;
  }
  .header__menu .header__contacts a > img, .header__menu .header__contacts span {
    font-size: 25px;
  }
  .header__menu .header__contacts a > p {
    margin: 20px 0 0 0;
    font-size: 30px;
    line-height: 1;
  }
  .header__menu .header__contacts button {
    font-size: 20px;
    width: 200px;
    height: 50px;
  }

  .header__burger_menu > i {
    display: block;
  }

  .wrapper {
    max-width: 340px;
  }

  .header__logo .header__logo_link img {
    width: 50px;
  }

  .header__caption {
    padding: 0;
    margin: 0;
  }

  .header__caption {
    row-gap: 45px;
  }
  .header__caption h2 {
    font-size: 30px;
    line-height: 34px;
  }
  .header__caption h1 {
    font-size: 40px;
    line-height: 46px;
    margin: 0 0 10px 0;
  }
  .header__caption p {
    font-size: 15px;
    line-height: 20px;
  }
  .header__caption p::before, .header__caption p::after {
    display: none;
  }
  .header__caption button {
    max-width: 135px;
    font-size: 14px;
    line-height: 19px;
  }

  .main__box > .main__absolute_list {
    position: relative;
    flex-direction: column;
    row-gap: 15px;
  }

  .main__history {
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .main__history .main__history_left .main__history_left-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__history .main__history_left .main__history_left-caption > h2 {
    max-width: 180px;
  }
  .main__history .main__history_left .main__history_left-caption > p {
    max-width: 290px;
  }
  .main__history .main__history_left .main__history_left-count {
    flex-direction: column;
    row-gap: 20px;
  }
  .main__history .main__history_right {
    padding-left: 24px;
  }
  .main__history .main__history_right > img {
    margin: 0 auto;
    width: 290px;
    height: 260px;
  }

  .footer {
    position: relative;
    margin: 360% 0 0 0;
  }
  .footer .footer__banner {
    row-gap: 40px;
    max-width: 290px;
    flex-direction: column;
  }
  .footer .footer__banner .footer__banner_content > h2 {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
  }
  .footer .footer__banner .footer__banner_content > p {
    font-size: 24px;
    line-height: 33px;
    text-align: center;
  }
}

/*# sourceMappingURL=media.css.map */
