::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Gotham Pro Medium", sans-serif;
}

.wrapper {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.header{
    flex: 0 1 45% ;
}

.fa-sync{
    font-size: 100px;
    color: darkgreen;
}

.main {
    flex: 0 1 45%;
}

footer{
    flex: 0 1 100%;
}

.link {
    text-decoration: none;
    color: #000000;
}

.link:hover {
    color: tomato;
    transition: 0.3s;
    font-style: italic;
}

.link:visited {
    color: #4b2f89;
}

.caption {
    text-align: center;
}

.low__caption {
    font-weight: normal;
    font-family: "Times New Roman";
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 10px;
    border-radius: 15%;
    box-shadow: 0 0 20px rgb(24, 152, 109);
}

.main__content {
    background-color: lightcyan;
}

.img {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.text {
    text-align: center;
}

#anchor {
    font-size: 26px;
}

#anchor::after {
    content: " !!! ";
    font-size: 30px;
    color: red;
}

.footer__content{
    border-top: 3px solid black;
    border-radius: unset;
}

.footer__text{
    font-size: 24px;
    font-family: "Arial Black";
}

.list {
    font-weight: bold;
    color: limegreen;
    font-size: 20px;
}

.item {
    padding: 5px;
}

.owu__item{
    list-style-type: none;
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(to right, #f66904, #00a4ff);
    color: whitesmoke;
}