//обнулення
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #eaeaea;
}

p {
  color: #eaeaea;
}

//блоки
.square {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background-color: #0c0c46;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: silver;
}

.blue__row-l {
  border-radius: 20px;
  background-color: #0c0c46;
  width: 80px;
  height: 5px;
}

.blue__row-s {
  border-radius: 20px;
  background-color: #0c0c46;
  width: 40px;
  height: 5px;
}

.silver__row {
  border-radius: 15px;
  background-color: silver;
  width: 60px;
  height: 10px;
}

//загальні стилі

.wrapper {
  margin: 0 auto;
  background-color: silver;
  row-gap: 20px;
  width: 100%;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.height__inner {
  height: 20px;
}

.top__block, .bottom__block {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__item, .card__item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row__block, .card__item-description, .main__text, .sur__text {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
}

.card__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.flex-basics {
  flex-basis: 80%;
}

.r-gap {
  row-gap: 20px;
}

.c-gap {
  column-gap: 20px;
}

//унікальні стилі
.wrapper-1 {
  background-color: #bbbcee;

  .top__block {
    .top__content-block {
      height: 80%;
      border: #34abf1 2px solid;
      border-radius: 20px;
      justify-content: center;

      .row__block {
        align-self: center;
      }
    }
  }

  .bottom__block {
    height: 100%;
    background-color: #0c0c46;
    padding: 20px;
    .bottom__content-block {
      .card__item-link:hover {
        border: 2px solid #34abf1;
        transition: 0.2s;
      }
      .card__list{
        display: flex;
        //flex-direction: column;
      }
      .card__item-link {
        padding: 20px;

        .card__item-description {
          flex-wrap: wrap;

          .main__text {
            flex: 0 1 100%;
            justify-content: center;
          }

          .sur__text {
            justify-content: space-between;
          }
        }
      }
    }
  }
}

// шапка сайту
.header {
  //верхнє меню
  .header__up-line {
    display: flex;
    height: 40px;
    background-color:  #0f5d7e;
    i{
      display: none;
      font-size: 30px;
      background-color: transparent;
      color: #0c0c46;
    }
    .line__content {
      display: flex;
      align-items: center;
      justify-content: end;
    }
  }

  //головне меню
  .header__main-content {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__content-elem:first-child {
      width: 300px;
    }
  }
}


.main__caption-block .main__caption_block-element {
  width: 100px;
  height: 40px;

}

// основна інформація
main {
  //блок заголовку
  .caption__container {
    align-items: center;
    height: 400px;
    background-color: #0f5d7e;

    .main__caption {
      max-width: 600px;
    }

    .main__caption-description {
      text-align: center;
    }

  }

  //картки
  .main__card-top, .main__card-bottom {
    width: 200px;
  }

  .main__cards-caption {
    display: flex;

    .main__cards-title {
      width: 15%;
      display: flex;
      justify-content: space-between;
    }
  }

  .main__cards {
    display: flex;
    flex-wrap: wrap;

    .main__card {
      flex: 1 1 25%;
      padding: 10px 0;
      row-gap: 10px;
      border-radius: 15px;
      border: 2px aquamarine solid;

      .main__card-top {
        .card__img {
          width: 100%;
        }
      }

      .card__title {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      .card__footer-line {
        height: 1px;
        width: 100%;
        background-color: aquamarine;
      }

      .card__active {
        .card__active_soc-list {
          column-gap: 5px;

          a {
            font-size: 4px;
          }
        }
      }
    }
  }

  //поля з текстом
  .main__text-field {
    & > div {
      padding: 40px;
    }

    .main__text_field-left {
      & p {
        color: #34ABF1FF;
      }

      & .main__text_field-btn > div {
        background-color: #34abf1;
      }

      background-color: darkblue;
    }

    .main__text_field-caption {
      display: flex;
    }

    .main__text_field-txt {
      line-height: 1.5;
    }

    .main__text_field-right {
      & p {
        color: darkblue;
      }

      background-color: #34ABF1FF;
    }

    .main__text_field-btn > div {
      padding: 20px;
    }
  }
}

//підвал
.footer {
  padding: 40px;
  background-color: #3535c9;

  .footer__container {
    width: 50%;

    .footer__content-block {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      div {
        height: 6vh;
        flex: 0 0 6vh;
        background-color: #eaeaea;
      }
    }

  }

  .footer__content_bottom-line {
    height: 2px;
    background-color: #00a4ff;
    width: 100%;
  }
}
