body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #eaeaea;
}

p {
  color: #eaeaea;
}

.square {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background-color: #0c0c46;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: silver;
}

.blue__row-l {
  border-radius: 20px;
  background-color: #0c0c46;
  width: 80px;
  height: 5px;
}

.blue__row-s {
  border-radius: 20px;
  background-color: #0c0c46;
  width: 40px;
  height: 5px;
}

.silver__row {
  border-radius: 15px;
  background-color: silver;
  width: 60px;
  height: 10px;
}

.wrapper {
  margin: 0 auto;
  background-color: silver;
  row-gap: 20px;
  width: 100%;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.height__inner {
  height: 20px;
}

.top__block, .bottom__block {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__item, .card__item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row__block, .card__item-description, .main__text, .sur__text {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
}

.card__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.flex-basics {
  flex-basis: 80%;
}

.r-gap {
  row-gap: 20px;
}

.c-gap {
  column-gap: 20px;
}

.wrapper-1 {
  background-color: #bbbcee;
}
.wrapper-1 .top__block .top__content-block {
  height: 80%;
  border: #34abf1 2px solid;
  border-radius: 20px;
  justify-content: center;
}
.wrapper-1 .top__block .top__content-block .row__block {
  align-self: center;
}
.wrapper-1 .bottom__block {
  height: 100%;
  background-color: #0c0c46;
  padding: 20px;
}
.wrapper-1 .bottom__block .bottom__content-block .card__item-link:hover {
  border: 2px solid #34abf1;
  transition: 0.2s;
}
.wrapper-1 .bottom__block .bottom__content-block .card__list {
  display: flex;
}
.wrapper-1 .bottom__block .bottom__content-block .card__item-link {
  padding: 20px;
}
.wrapper-1 .bottom__block .bottom__content-block .card__item-link .card__item-description {
  flex-wrap: wrap;
}
.wrapper-1 .bottom__block .bottom__content-block .card__item-link .card__item-description .main__text {
  flex: 0 1 100%;
  justify-content: center;
}
.wrapper-1 .bottom__block .bottom__content-block .card__item-link .card__item-description .sur__text {
  justify-content: space-between;
}

.header .header__up-line {
  display: flex;
  height: 40px;
  background-color: #0f5d7e;
}
.header .header__up-line i {
  display: none;
  font-size: 30px;
  background-color: transparent;
  color: #0c0c46;
}
.header .header__up-line .line__content {
  display: flex;
  align-items: center;
  justify-content: end;
}
.header .header__main-content {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__main-content .header__content-elem:first-child {
  width: 300px;
}

.main__caption-block .main__caption_block-element {
  width: 100px;
  height: 40px;
}

main .caption__container {
  align-items: center;
  height: 400px;
  background-color: #0f5d7e;
}
main .caption__container .main__caption {
  max-width: 600px;
}
main .caption__container .main__caption-description {
  text-align: center;
}
main .main__card-top, main .main__card-bottom {
  width: 200px;
}
main .main__cards-caption {
  display: flex;
}
main .main__cards-caption .main__cards-title {
  width: 15%;
  display: flex;
  justify-content: space-between;
}
main .main__cards {
  display: flex;
  flex-wrap: wrap;
}
main .main__cards .main__card {
  flex: 1 1 25%;
  padding: 10px 0;
  row-gap: 10px;
  border-radius: 15px;
  border: 2px aquamarine solid;
}
main .main__cards .main__card .main__card-top .card__img {
  width: 100%;
}
main .main__cards .main__card .card__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .main__cards .main__card .card__footer-line {
  height: 1px;
  width: 100%;
  background-color: aquamarine;
}
main .main__cards .main__card .card__active .card__active_soc-list {
  column-gap: 5px;
}
main .main__cards .main__card .card__active .card__active_soc-list a {
  font-size: 4px;
}
main .main__text-field > div {
  padding: 40px;
}
main .main__text-field .main__text_field-left {
  background-color: darkblue;
}
main .main__text-field .main__text_field-left p {
  color: #34ABF1FF;
}
main .main__text-field .main__text_field-left .main__text_field-btn > div {
  background-color: #34abf1;
}
main .main__text-field .main__text_field-caption {
  display: flex;
}
main .main__text-field .main__text_field-txt {
  line-height: 1.5;
}
main .main__text-field .main__text_field-right {
  background-color: #34ABF1FF;
}
main .main__text-field .main__text_field-right p {
  color: darkblue;
}
main .main__text-field .main__text_field-btn > div {
  padding: 20px;
}

.footer {
  padding: 40px;
  background-color: #3535c9;
}
.footer .footer__container {
  width: 50%;
}
.footer .footer__container .footer__content-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer .footer__container .footer__content-block div {
  height: 6vh;
  flex: 0 0 6vh;
  background-color: #eaeaea;
}
.footer .footer__content_bottom-line {
  height: 2px;
  background-color: #00a4ff;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
