@media screen and (min-width: 400px) and (max-width: 768px) {
  header .header__top {
    position: unset;
  }

  .header__main_logo {
    margin-bottom: 50px;
  }

  header .header__main {
    padding-top: 15px;
  }
  header .header__main .header__main_nav {
    row-gap: 10px;
  }

  .header__main_logo .navbar-brand img {
    width: 240px;
    height: 110px;
  }

  .header__main_nav li:first-child,
.header__main_nav li:first-child img,
.header__main_nav li:nth-child(2) img {
    padding: 0;
  }

  header .header__main_info p {
    font-size: 12px;
    line-height: 15px;
  }

  .header__main_row .header__main_form .header__main_form-catalog > div .header__main_form_btn-sm, .header__main_row .header__main_form .header__main_form-catalog > div .fas {
    width: 40px;
    height: 40px;
    display: block;
    padding: 5px 0 0 0;
  }

  .header__main_row .header__main_form .header__main_form-catalog > div .header__main_form-btn {
    display: none;
  }

  header .header__main_row .header__main_form .header__main_form-search input {
    padding: 14px 50px 14px 14px;
    margin-left: 15px;
  }
  header .header__main_row .header__main_form .header__main_form-search input::placeholder {
    font-size: 13px;
  }

  header .header__main_row .header__main_form .header__main_form-search button {
    padding: 13px;
    font-size: 12px;
    margin-right: 15px;
  }

  header .header__main_user_list .header__main_user_item img {
    padding-bottom: 5%;
  }

  main .main__slider_top .main__carousel_list .main__carousel_item h3 {
    font-size: 26px;
    line-height: 30px;
  }

  main .main__slider_top .main__carousel_list .main__carousel_item a > img {
    width: 220px;
    height: 180px;
  }

  main .main__slider_top .main__carousel_list .main__carousel_item .price {
    flex-direction: column;
  }

  .main .main__slider_top .main__carousel {
    padding: 0;
  }

  .carousel-control-next, .carousel-control-prev {
    display: none;
  }

  main .main__slider_top .main__stock_list {
    padding: 0;
  }

  main .main__slider_top .main__stock_list .main__stock_item .main__stock_item-product p {
    font-size: 12px;
    line-height: 15px;
  }

  main .main__slider_top .main__stock_list .main__stock_item .main__stock_item-price button {
    padding: 10px;
  }

  main .main__slider {
    padding-top: 30px;
  }

  .mb {
    margin-bottom: 20px;
  }

  main .main__slider .main__slider_track .main__slider_item a img {
    width: 95px;
    height: 125px;
  }

  main .main__slider .main__slider_track .main__slider_item a h3 {
    font-size: 18px;
    line-height: 21px;
  }

  main .main__slider .main__slider_track .main__slider_item a p {
    font-size: 12px;
    line-height: 20px;
  }

  .wrapper main .main__slider_bottom .main__slider .slick-arrow {
    display: none !important;
  }

  main .main__product_block {
    padding-top: 50px;
  }

  .wrapper main .main__product_list {
    justify-content: space-around;
  }

  main .main__product_caption .main__product_caption-list .main__product_caption-item1 {
    flex: 0 1 200px;
  }

  main .main__product_caption .main__product_caption-list .main__product_caption-item2 {
    flex: 0 1 100px;
  }

  main .main__product_caption .main__product_caption-list .main__product_caption-item3 {
    flex: 0 1 190px;
  }

  main .main__product_caption .main__product_caption-list .main__product_caption-item {
    padding: 15px 30px;
  }

  main .main__product_list {
    row-gap: 20px;
  }

  main .main__product_item {
    flex: 1 1 50%;
    padding: 0;
  }

  main .main__product_item_divide-sm {
    display: block;
  }

  footer .footer__contact, .footer__subscribe {
    padding-top: 40px;
  }

  footer .footer__subscribe p {
    font-size: 16px;
    line-height: 19px;
  }
}
@media screen and (max-width: 375px) {
  header .header__top {
    position: unset;
  }

  .header__nav_collapse {
    padding-top: 10px;
  }

  .nav-link, .dropdown-menu {
    text-align: center;
  }

  .navbar > .container, .navbar > .container-fluid,
.navbar > .container-lg, .navbar > .container-md,
.navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: start;
  }

  .header__nav_active .nav-link {
    margin: 0 30px 0 0;
  }

  header .header__main {
    padding-top: 0;
  }

  .header__main_nav {
    flex-direction: column-reverse;
    align-items: end;
  }
  .header__main_nav .header__nav_wt, .header__main_nav .header__nav_loc {
    display: none;
  }

  .header__main_logo {
    margin-bottom: 30px;
  }

  .header__main_logo img {
    max-width: 160px;
    max-height: 60px;
  }

  .header__main_nav .header__nav_callback, .header__main_nav .header__nav_callback a {
    padding: 0;
  }

  header .header__main_info .header__nav_callback a:first-child {
    font-size: 14px;
    line-height: 16px;
  }

  header .header__main_info .header__nav_callback a > span {
    font-size: 10px;
    line-height: 12px;
  }

  header .header__main_info .header__nav_social {
    margin: 10px 0 0 0;
    padding: 0;
  }

  header .header__main_info .header__nav_social a > p {
    font-size: 8px;
    line-height: 10px;
    white-space: nowrap;
  }

  .header__main_row .header__main_form .header__main_form-catalog > div .header__main_form_btn-sm, .header__main_row .header__main_form .header__main_form-catalog > div .fas {
    display: flex;
  }

  .header__main_row .header__main_form .header__main_form-catalog > div .header__main_form-btn {
    display: none;
  }

  .header__main_user_list {
    display: none;
  }

  header .header__main_row .header__main_form .header__main_form-search {
    display: none;
  }

  header .header__main_row .header__main_form .header__main_form-search-sm {
    display: flex;
  }

  .main {
    padding-top: 15px;
  }

  main .main__content .main__sm_menu {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #FFFFFF;
  }

  .wrapper main .main__slider_top .main__carousel {
    padding: 15px 15px 30px 15px;
    border-radius: 10px;
  }

  .carousel-control-next, .carousel-control-prev {
    display: none;
  }

  .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
  }

  main .main__slider_top .main__carousel_list .main__carousel_item div a img {
    width: 100px;
    height: 90px;
  }

  main .main__slider_top .main__carousel_list .main__carousel_item div h3 {
    font-size: 15px;
    line-height: 18px;
  }
  main .main__slider_top .main__carousel_list .main__carousel_item div > div {
    flex-direction: column-reverse;
  }
  main .main__slider_top .main__carousel_list .main__carousel_item div a {
    font-size: 8px;
    line-height: 10px;
  }
  main .main__slider_top .main__carousel_list .main__carousel_item div .price p:first-child {
    font-size: 18px;
    line-height: 20px;
  }
  main .main__slider_top .main__carousel_list .main__carousel_item div .price .text-decoration-line-through {
    font-size: 12px;
    line-height: 14px;
  }
  main .main__slider_top .main__carousel_list .main__carousel_item div button {
    width: 124px;
    height: 34px;
  }

  .main__stock_list {
    margin: 0 auto;
  }

  .main__slider {
    display: none;
  }

  main .main__product_block {
    padding-top: 20px;
  }

  main .main__product_caption .main__product_caption-list {
    flex-wrap: nowrap;
  }

  main .main__product_caption .main__product_caption-list .main__product_caption-item {
    flex: 0 1 20%;
    padding: 5px;
  }
  main .main__product_caption .main__product_caption-list .main__product_caption-item a {
    font-size: 12px;
    line-height: 14px;
  }

  main .main__product_list {
    align-items: center;
    justify-content: space-between;
  }

  main .main__product_item, main .main__product_item img {
    max-width: 160px;
  }

  main .main__product_item {
    flex-grow: 1;
    flex-basis: 160px;
  }
  main .main__product_item h3 {
    white-space: normal;
  }

  .main__product_item-active button:nth-child(3) > img {
    display: none;
  }

  main .main__product_item .main__product_item-active button:first-child {
    white-space: nowrap;
    font-size: 10px;
    line-height: 12px;
    padding: 10px;
  }

  main .main__product_item_divide-sm {
    display: block;
  }

  main .main__product_cards .main__product_cards-btn {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .main__news_title {
    padding-bottom: 50px;
  }

  .main__news_block .main__news_list > .row {
    row-gap: 50px;
  }

  .footer .footer__subscribe form input {
    padding: 10px 50px 10px 10px;
  }
  .footer .footer__subscribe form input::placeholder {
    font-size: 12px;
    line-height: 14px;
  }

  .footer .footer__subscribe form button {
    font-size: 12px;
    line-height: 14px;
  }
}

/*# sourceMappingURL=media.css.map */
