body {
  margin: 0;
  box-sizing: border-box;
  color: silver;
}

.border {
  border: 4px solid black;
  border-bottom: unset;
}

.inner__content-style {
  padding: 10px;
  margin: 5px;
  background-color: #eaeaea;
  border-radius: 20px;
}

.flex__container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  height: 100vh;

  .flex__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    background-color: silver;
    justify-content: space-between;
    flex: 0 1 100%;

    .header__inner {

    }
  }

  .aside {
    //height: 100%;
    flex-direction: column;
    flex: 0 0 7%;
    background-color: cornflowerblue;
  }

  .main__content {
    //background-color: #4b2f89;
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
  }

  .wrap__screen {
    flex: 1 1 auto;
    background-color: cadetblue;
  }

  .wrap__content {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: darksalmon;
  }

  .top-screen {
    height: 60%;
    //background-color: cadetblue;

  }

  .bottom-screen {
    height: 30%;
    justify-content: center;
    //background-color: burlywood;
  }

  .content-box {
    flex: 1 1 auto;
    //background-color: bisque;
    //height: 50%;
    flex-wrap: wrap;

    .box__inner {
      flex: 0 1 40%;
    }
  }

  .aside6 {
    flex-direction: column;
    flex: 0 0 7%;
    //background-color: darksalmon;
  }

  .footer {
    flex: 0 1 100%;
    flex-direction: column;
    //background-color: grey;
  }
}

@media screen and (max-width: 900px){
  .flex__container{
    background-color: black;
  }
}