body {
  margin: 0 auto;
  box-sizing: border-box;
  color: silver;
  max-width: 1215px;
  width: 100%;
}

//межі
.border {
  border: 3px solid black;
}

//загальний стиль тексту
.inner__content-style {
  text-align: center;
  padding: 10px;
  margin: 5px;
  background-color: #eaeaea;
  border-radius: 10px;
}

//флекс контейнер з флекс елементами
.flex__container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  .flex__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  //шапка
  .header {
    background-color: silver;
    justify-content: space-between;
    flex: 0 1 100%;

    .header__inner {
      width: 5%;
    }
    @media screen and (max-width: 600px) {
      .header__inner{
        width: 10%;
      }
    }
  }

  //лівий сайдбар
  .aside {
    align-self: stretch;
    flex-direction: column;
    flex: 0 0 7%;
    background-color: cornflowerblue;
  }

  @media screen and (max-width: 900px) {
    .aside {
      display: none;
    }
  }
  //основні блоки контентної частини
  .main__content {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
  }

  //верхній блок екрану
  .wrap__screen {
    flex: 1 1 auto;
    background-color: cadetblue;
  }

  //блок нижній - картки, сайдбар, футер
  .wrap__content {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: darksalmon;
  }

  //підменю основного екрану
  .bottom-screen {
    border-bottom: unset;
    justify-content: space-evenly;
  }

  @media screen and (max-width: 900px) {
    .bottom-screen {
      display: flex;
      flex-wrap: wrap;
    }
  }
  //блок "карток"
  .content-box {
    flex: 1 1 80%;
    flex-wrap: wrap;
  @media screen and (max-width: 768px) {
    .content-box{
      display: flex;
      flex-direction: column;
    }
  }
    .box__inner {
      flex: 0 1 40%;
    }
  }

  //правий сайдбар
  .sidebar {
    background-color: tomato;
    flex-wrap: wrap;
    flex-basis: 7%;

    .sidebar__wrap {
      display: flex;
    }

    .sidebar__content {
      flex: 0 1 40%;
    }
  }

  @media screen and (max-width: 900px) {
    .sidebar {
      display: flex;
      flex: 1 1 100%;

    }
  }

  .footer {
    flex: 0 1 100%;
    flex-direction: column;
  }
}

